#floating__nav {

    animation: animateFloatingNav 300ms ease forwards;
    
    }
    
    
    
    @keyframes animateFloatingNav {
    
            from {
    
                opacity: 0;
    
                bottom: -5rem;
    
            }
    
            to {
    
                opacity: 1;
    
                bottom: 3rem;
    
            }
    
        }